@page "/Account/Users"

@using BlazingSampleApp.Services
@using Blazored.Modal.Services
@inject ISampleApiClient SampleApiClient

<div class="container pt-5">
    <h3 class="pb-4">Users</h3>

    @if (users == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-striped table-hover table-bordered">
           <thead class="thead-dark">
               <tr>
                   <th>Username</th>
                   <th>Email</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var user in users)
               {
                   <tr>
                       <td>@user.Username</td>
                       <td>@user.Email</td>
                       <td>
                           <button class="btn btn-sm btn-primary" @onclick="() => ViewDetails(user)">
                               <i class="oi oi-eye"></i> View
                           </button>
                       </td>
                   </tr>
               }
           </tbody>
        </table>
    }
</div>

@code {
    private List<User> users = new();

    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        users = (await SampleApiClient.GetAllUsersAsync())
            .ToList();
    }

    private void ViewDetails(User user)
    {
        var parameters = new ModalParameters()
        .Add(nameof(UserDetails.Username), user.Username)
        .Add(nameof(UserDetails.Password), user.Password);

        Modal.Show<UserDetails>("User details", parameters);
    }
}
