div.product-thumbnail {
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

div.product-thumbnail img {
    height: 100%;
}

.card {
    border: none;
    background: #ffffff;
}

.card-footer {
    background: #ffffff;
}

.card-footer p {  
   white-space: nowrap;  
   overflow: hidden;  
   text-overflow: ellipsis;  
}

i.gold {
    color: gold;
}

div.card:hover {
    box-shadow: 0px 0px 10px #6c757df7;
    cursor: pointer;
}