@inherits LayoutComponentBase

<PageTitle>BlazingSampleApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="container-fluid p-0">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts /> 