
<p>
    <strong>Username : </strong>
    @Username
</p>
<p>
    <strong>Password : </strong>
    @Password
</p>

<div class="mt-4">
    <p class="text-secondary text-sm"><strong><i class="oi oi-warning text-warning pr-3"></i> Warning : </strong>Do not share or copy the information displayed above.</p>
</div>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public string? Username { get; set; }
    [Parameter] public string? Password { get; set; }

    private async Task Close() => await BlazoredModal.CloseAsync();
}
